/*======================================
  Selectric
======================================*/
.selectric-wrapper {
  position: relative;
  cursor: pointer;
  width: 100%;
}

.selectric-responsive {
  width: 100%;
}

.selectric {
    cursor: pointer;
    position: relative;
    display: block;
    clear: both;
    width: 100%!important;
    background: #f5f5f5;
    border: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.selectric .label {
    display: block;
    /*white-space: nowrap;*/
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 100%;
    padding: 8px 60px 8px 20px;
    text-align: left;
    font-size: 1.6rem;
    color: #495264;
    margin: 0;
    line-height: 30px;
	height: 44px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.selectric .button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0!important;
    width: 42px;
    height: 44px;
    text-align: center;
    border-left: 2px solid #ffffff;
    font-size: 0;
    background: url(images/ddl-arrow-down.png) no-repeat center;
}

.selectric-disabled .selectric .button {
    background: url(images/ddl-arrow-down_light.png) no-repeat center;
}

.selectric-hover .selectric .button {}

.selectric-open {
  z-index: 2;
}

.selectric-open .selectric {}

.selectric-open .selectric .button {
    background: url(images/ddl-arrow-up.png) no-repeat center;
}

.selectric-open .selectric-items {
  display: block;
}

.selectric-disabled {
  filter: alpha(opacity=1);
  opacity: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectric-disabled .selectric {
    cursor: not-allowed;
    background: #eeeeee;
}

.selectric-disabled .selectric .label {
    color: #999999;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}

.selectric-hide-select select {
  position: absolute;
  left: -100%;
  display: none;
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */
.selectric-items {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    margin: 5px 0 0 0;
    background: #f5f5f5;
    border: 0;
    z-index: -1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.selectric-items .selectric-scroll {
  height: 100%;
  max-height: 200px;
  overflow: auto;
}

.selectric-above .selectric-items {
  top: auto;
  bottom: 100%;
}

.selectric-items ul {
  list-style: none;
  padding: 0;
  margin: 0!important;
}

.selectric-items li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.selectric-items li {
  cursor: pointer;
  display: block;
  padding: 10px 20px;
  border-top: 0;
  border-bottom: 0;
  color: #385968;
  text-align: left;
  background: none;
  font-size: 16px;
}

.selectric-items li.selected {
    color: #444444;
    background: #dddddd;
}

.selectric-items li:hover {
  color: #444444;
  background: #dddddd;
}

.selectric-items .disabled {
  filter: alpha(opacity=1);
  opacity: 1;
  cursor: default !important;
  background: none !important;
  color: #999999 !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  color: #444;
}

.selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1;
}

.selectric-items .selectric-group li {
  padding-left: 25px;
}


/**
* Custom Selectric Style
*/
.form-theme-default .form-select-wrapper .selectric-wrapper,
.form-label + .selectric-wrapper{margin-top: 5px;}
.form-theme-default .selectric-wrapper{font-size: 1.6rem; vertical-align: middle;}

.tooltip-error.form-select .ms-parent,
.tooltip-error.form-select select,
.tooltip-error.form-select .selectric-wrapper,
.tooltip-info.form-select .ms-parent,
.tooltip-info.form-select select,
.tooltip-info.form-select .selectric-wrapper,
.tooltip-inquiry.form-select .ms-parent,
.tooltip-inquiry.form-select select,
.tooltip-inquiry.form-select .selectric-wrapper,
.form-select-wrapper-small .form-select .selectric-wrapper {
    display:    inline-block;
    clear:      none;
    width:      80%!important;
    vertical-align: middle;
}

/**
* form-select-wrapper
* White
*/
.form-theme-default .form-select-wrapper.form-select-wrapper-white .selectric {
    background:             #ffffff;
    border:                 1px solid #e1e1e1;
}

.form-theme-default .form-select-wrapper.form-select-wrapper-white .selectric .label {
    color: #495264;
}

.form-theme-default .form-select-wrapper.form-select-wrapper-white .selectric .button {
    border-left: 0;
}

.accession-panel .accession-main .wizardStep .data-send .data-send-body .selectric {
    background: #ffffff;
}

.accession-panel .accession-main .wizardStep .data-send .data-send-body .selectric .label {
    border-left: 2px solid #f5f5f5;
}

.accession-panel .accession-main .wizardStep .data-send .data-send-body .form-select-wrapper {
    margin-top: 35px;
    min-height: 50px;
}


.highways_box_panel .form-theme-default .form-select-wrapper .selectric .button {
    background: url(images/ddl-arrow-down_dark.png) no-repeat center;
}
.highways_box_panel .form-theme-default .form-select-wrapper .selectric-open .selectric .button {
    background: url(images/ddl-arrow-up_dark.png) no-repeat center;
}


.highways_box_panel .form-theme-default .js-camera-select .selectric .selectric-items .selectric-scroll {
    max-height: 275px;
}

.highways_box_panel .form-theme-default .js-highways-select .selectric-wrapper {
    margin-top: 0;
}

.cameras_box_wrapper .highways_box_panel .form-select-wrapper select:disabled,
.cameras_box_wrapper .highways_box_panel .form-select-wrapper .selectric-disabled {
    display: none;
}



.form-schedule-inspection .form-select-wrapper.tooltip-error:first-child .selectric-wrapper {
    width: 90% !important;
}

.form-schedule-inspection .form-select-wrapper.tooltip-error .selectric-wrapper {
    display: inline-block;
    width: 83% !important;
}

.ccForms-container .form-theme-default .form-select-wrapper .selectric,
.ccForms-container .selectric-wrapper {
    display:inline-block;
}

.ccForms-container.form-theme-default .form-select-wrapper .selectric-wrapper {
    display:inline-block;
    width:40% !important;
}

.voucher2 .form-theme-default .form-select-wrapper .selectric .button {
    width: 38px;
    height: 40px;
}

.voucher2 .form-theme-default .form-select-wrapper .selectric .label {
    line-height: 40px;
    padding:0 10px;
}

.myvv-voucher .form-theme-default .form-select-wrapper .selectric-wrapper {
    display:inline-block;
    margin:0;
}

.myvv-voucher .form-theme-default .tooltip-error .selectric-wrapper {
    width: 70% !important;
}

.myvv-voucher .selectric-wrapper {
    display:inline-block;
    margin:0;
    vertical-align: middle;
}



/*Remocao Avalon*/



@media screen and (max-width: 767px) {
    .modal .form-theme-default .selectric {
		width: 100%!important;
	}
}

@media screen and (max-width: 640px) {
    .form-schedule-inspection .form-select-wrapper.tooltip-error:first-child .selectric-wrapper {
        width: 89% !important;
    }

    .form-schedule-inspection .form-select-wrapper.tooltip-error .selectric-wrapper {
        width: 79% !important;
    }
}

@media screen and (max-width: 480px) {
    .form-schedule-inspection .form-select-wrapper.tooltip-error .selectric-wrapper,
    .form-schedule-inspection .form-select-wrapper.tooltip-error:first-child .selectric-wrapper {
        width: 84% !important;
    }
}