	.map-app-block {
		position: relative;
		display: table;
		clear: both;
		margin-bottom: 20px;
		width: 100%;
	}
	
	.map-app-block .tit-img {
		margin-bottom: 20px;
	}
	
	.map-app-block .tit-img img {
		display: inline-block;
		max-width: 65px;
		width: 20%;
		vertical-align: middle;
	}
	
	.map-app-block .tit-img h4 {
		display: inline-block;
		margin-left: 3%;
		width: 75%;
		color: #363c4c;
		vertical-align: middle;
		font-weight: 100;
		font-size: 3.6rem;
		font-family: 'PrometoMediumItalic';
	}
	
	.map-app-block span {
		display: block;
		color: #495264;
		font-size: 1.6rem;
		font-family: Arial, Helvetica, sans-serif;
		line-height: 1.4;
	}
	
	.map-app-block .content {
		position: relative;
		display: table-cell;
		padding: 35px 3%;
		width: 50%;
		background: #FFF;
		text-decoration: none;
	}
	
	.map-app-block .content.dark:after {
		position: absolute;
		right: 5%;
		bottom: 20px;
		display: block;
		width: 35px;
		height: 35px;
		background: url(images/arrow-link-block.png) no-repeat;
		content: '';
	}
	
	.map-app-block .content.dark:hover:after {
		background: url(images/arrow-link-block-on.png) no-repeat;
	}
	
	.map-app-block .content.dark {
		background-color: #495264;
	}
	
	.map-app-block .content span {
		margin-bottom: 15px;
	}
	
	.map-app-block .content.dark span {
		color: #FFF;
		margin-bottom: 0;
	}
	
	.map-app-block .content.dark h4 {
		color: #FFF;
	}
	
	.map-app-block .spacer {
		display: table-cell;
		width: 2%;
	}
	
	.map-app-block .app_button {
		position: absolute;
		bottom: 35px;
		display: block;
		width: 90%;
		left: 5%;
	}
	
	.map-app-block .app_button a {
		width: 159px;
		height: 50px;
	}
	
	.map-app-block .app_button .apps {
		position: absolute;
	}
	
	@media only screen and (max-width: 1332px) {
		.threePosTemplate-section .map-app-block .content span {
			margin-bottom: 138px;
		}
	}
	
	@media only screen and (max-width: 1023px) {
		.map-app-block .tit-img h4 {
			font-size: 2.6rem;
		}
		.map-app-block .content span {
			font-size: 1.6rem;
		}
		.map-app-block {
			display: block;
			width: 100%;
		}
		.map-app-block .content {
			display: block;
			padding: 35px 5% 50px;
			width: 90%;
		}
		.map-app-block .content.dark {
			margin-bottom: 20px;
		}
		.map-app-block .content span {
			max-width: 85%;
		}
		.map-app-block .app_button {
			position: initial;
		}
		.threePosTemplate-section .map-app-block .content span {
			margin-bottom: 20px;
		}
	}
	
	@media only screen and (max-width: 640px) {
		.map-app-block .content span {
			margin-bottom: 5px;
		}
		.map-app-block .content {
			padding-bottom: 50px;
		}
	}